<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
      <!--<section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient" />-->
  </configSections>
    <!--<casClientConfig
  casServerLoginUrl="http://192.168.252.32:8280/cas/login"
  casServerUrlPrefix="http://192.168.252.32:8280/cas/"
  serverName="http://192.168.252.36:809"
  notAuthorizedUrl="~/NotAuthorized.aspx"
  cookiesRequiredUrl="~/CookiesRequired.aspx"
  redirectAfterValidation="true"
  renew="false"
  singleSignOut="true"
  ticketValidatorName="Cas20"
  serviceTicketManager="CacheServiceTicketManager" />-->

    <!-- 可用的配置项（这里列的都是默认值）: 
      Language="zh_CN" 
      AjaxTimeout="120" 
      EnableAjax="true" 
      Theme="Neptune" 
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      IconBasePath="~/res/icon" 
      EnableAjaxLoading="true" 
      AjaxLoadingType="default" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/theme" 
  -->
  <FineUI DebugMode="false" />
    <appSettings>
        <!-- 连接字符串是否加密 -->
        <add key="ConStringEncrypt" value="false" />
        <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
         如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
      <add key="ConnectionString" value="server=SHXJ12111-PC;database=HumanResSystem;uid=sa;pwd=shxj-1211@SHXJ" />
       <!--Maticsoft.Accounts权限角色管理模块连接字符串-->
      <add key="ConnectionString2" value="server=SHXJ12111-PC;database=HumanResSystemCode;uid=sa;pwd=shxj-1211@SHXJ" />
        <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
        <!--<add key="ConnectionString" value="server=192.168.252.53;database=HumanResSystem;uid=sa;pwd=Pv9ePVcVaN!bDZIu" />
        --><!-- Maticsoft.Accounts权限角色管理模块连接字符串--><!--
        <add key="ConnectionString2" value="server=192.168.252.53;database=HumanResSystemCode;uid=sa;pwd=Pv9ePVcVaN!bDZIu" />-->
        <!--虚拟目录名称(如果是站点，则为空) -->
        <add key="VirtualPath" value="" />
        <!--登录页地址 -->
        <add key="LoginPage" value="admin/Login.aspx" />
        <!--默认菜单是否是展开状态-->
        <add key="MenuExpanded" value="false" />
        <!--实体对象内容缓村的时间（分钟）-->
        <add key="ModelCache" value="30" />

        <!--是否启用单点登录接口-->
        <add key="IsStartCas" value="false" />
        <add key="casLoginURL" value="http://192.168.252.32:8280/cas/login" />
        <add key="casValidateURL" value="http://192.168.252.32:8280/cas/serviceValidate" />

    </appSettings>
  <connectionStrings />
  <system.web>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f" />
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
        <!--<add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>-->

    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false" />
    </httpHandlers>
    <httpRuntime maxRequestLength="102400 " />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
      <authentication mode="Forms">
          <forms name=".APPBOX_FORMS_AUTH" loginUrl="~/login.aspx" timeout="120" protection="All" path="/" />
          <!--<forms name=".APPBOX_FORMS_AUTH" loginUrl="~/login.aspx" timeout="120" defaultUrl="~/index.aspx" protection="All" path="/" cookieless="UseCookies" />-->
      </authentication>
      <authorization>
          <deny users="?" />
      </authorization>
  </system.web>
    <location path="res.axd">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="icon">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="res">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="extjs">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
  <!--
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  -->
  <!-- IIS7集成管道模式
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false"/>
    </handlers>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FineUI" publicKeyToken="0ff1835d01c384a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>